:root{
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
}
.html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background-color: var(--bg-color);
}
.header{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
}
.header .logo img{
    height: 6rem;
    border-radius: 50%;
}
.header .navbar a {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 1rem;
}
.header .navbar a:hover {
    color: var(--black);
    border-top: 0.3rem solid var(--black);
    border-bottom: 0.3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header .icons {
    display: flex;
}
.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 2rem;
}
.header .icons div:hover {
    color: var(--black);
}
.header .icons .menu-icon {
    display: none;
}







